/* 공통 사항 */

* { margin:0; padding:0; box-sizing: border-box;}

body { overflow-x: hidden;}

/* Header CSS */

.gnb { position: fixed; left: 50%; top:0;  width: 1920px; z-index: 100; transform: translate(-50%,0); }
.gnb_img { width: 100%; }


/* Hero Slide CSS */

.hero { width: 100%; height: 1080px; position: relative; background-color: rgb(255, 255, 255); overflow: hidden;}

.hero_slide { width: 1920px; height: 100%; position: absolute; top:0; left:50%; padding: 0px; transition: all 0.4s; transform: translate(-50%,0);}

.hero .hero_slide:nth-child(1) {background-image: url(../img/1920_1.jpg);
z-index: 4; }
.hero .hero_slide:nth-child(2) {background-image: url(../img/1920_2.jpg);
z-index: 3; }
.hero .hero_slide:nth-child(3) {background-image: url(../img/1920_3.jpg);
z-index: 2; }
.hero .hero_slide:nth-child(4) {background-image: url(../img/1920_4.jpg);
z-index: 1; }


.hero_slide_title { font-size: 70px;
color:rgba(255,255,255,1);}


.hero_slide_nav { 
   width: 100px;
   position:absolute;
   top:800px; left:calc(50% - 50px);
   z-index: 4;
   display: flex;
   justify-content: space-between;
}

.hero_slide_button {
   width: 12px; height: 12px;
   background-color: rgba(255,255,255,0.4);
   border-radius: 6px;
   cursor: pointer;
   transition: all 0.3s;
}

.hero_slide_button:nth-child(1) {
   background-color: rgba(255,255,255,1);
}

@keyframes fade_in {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

@keyframes fade_out {
   0% {opacity: 1;}
   100% {opacity: 0;}
}

@keyframes flow {
   0% {left: 0;}
   100% {left: -1920px;}
}



main { width: 100%; height: auto;}

/* Our Value */

.main_wrap_1 { width: 100%; height: 2800px; text-align: center; position: relative; overflow: hidden;}


/* History */

.history { width: 100%; height: 739px; text-align: center; position: relative; overflow: hidden;}
.history_img { display:block; margin: 0 auto; position: absolute; top:0; left: 0; animation: flow 20s linear infinite; }

/* New Techlogoy */

.main_wrap_3 { width: 100%; height: 8525px; text-align: center; position: relative; overflow: hidden;}

.main_img_1920 { display:block; margin: 0 auto; position: absolute;  
   top:0; left: 50%; transform: translate(-50%,0); overflow: hidden;}

/* Newsletter */

.newsletter { width: 100%; height: 760px; text-align: center; position: relative; overflow: hidden;}
.newsletter_img { display:block; margin: 0 auto; position: absolute; top:0; left: 50%; transform: translate(-50%,0); overflow: hidden;}

.newsletter_video { display:block; margin: 0 auto; position: absolute; top:-20%; left: 50%; transform: translate(-50%,0); overflow: hidden; }

/* Footer */

.footer_wrap { width: 100%; height: 556px; text-align: center; position: relative; overflow: hidden;}
.footer_img { display:block; margin: 0 auto; position: absolute; 
   top:0; left: 50%; transform: translate(-50%,0);}

/* Media Query */

@media screen and (max-width:1440px) {

   
}

@media screen and (max-width:1024px) {


   

}

@media screen and (max-width:768px) {
 

   
}

@media screen and (max-width:640px) {

 
   
}

@media screen and (max-width:479px) {



}